/* Ini CSS */

/* Style navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3rem;
    padding-right: 2.5rem;
    background-color: white;
    border-bottom: 1px solid #513c28;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

/* Style logo */
.navbar .logo {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80px;
    height: auto;
}

/* Style link navigasi di navbar */
.navbar .navbar-nav a {
    color: black;
    display: inline-block;
    font-size: 1.3rem;
    text-decoration: none;
    border: 1px solid;
    padding: 1rem;
}

/* Style padding top pada setiap halaman */
#home, #ourpackage, #callus {
    padding-top: 80px;
}


.main-article {
    display: flex;
    justify-content: space-evenly;
}

/* Style pada judul halaman home */
.judul h1, h3 {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.judul h3 {
    margin-top: 2rem;
    color: grey;
    font-weight: 100;
}

/* Style banner autoslide */
.banner-autoslide {
    height: 250px;
    background-position: center;
    background-size: cover;
}

.image1 {
    background-image: url('https://picsum.photos/500');
}

.image2 {
    background-image: url('https://picsum.photos/600');
}

.image3 {
    background-image: url('https://picsum.photos/700');
}

.icon {
    display: flex;
    width: 100%;
    /* border: 5px solid #333; */
    margin: 30px auto;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.judul-manfaat .h1 {
    text-align: center;
    text-align: center;
}

.manfaat {
    width: 600px;
    height: 100px;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
}

.manfaat div {
    width: 100px;
    height: 50px;
    margin: 2px;
    text-align: center;
}

.container-user {
    width: 600px;
    height: 120px;
    border: 2px solid black;
    margin: 30px auto;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
}

.container-user div {
    width: 100px;
    height: 100px;
    margin: 2px;
}

.container-user div img {
    width: 50px;
    height: auto;
    margin-left: 20px;
}

.testimoni {
    flex: 1;
}

.user, .num {
    width: 80px;
    height: auto;
    border-radius: 250px;
    margin-top: 0.5rem;
}

.deskripsi {
    flex: 2;
    margin-top: 10px;
}

.contact {
    width: 400px;
    height: 550px;
    background-color: #eae6e6;
    padding: 2rem;
}

.contact p {
    color: grey;
   
}

/* Style Form Input */
input[type="text"], select {
    width: 300px; /* Lebar input */
    padding: 10px; /* Jarak antara teks dan border */
    border: 2px solid grey; /* Border dengan warna abu */
    border-radius: 5px; /* Membuat sudut border lebih melengkung */
    font-size: 16px; /* Ukuran font */
    color: #333; /* Warna teks */
    background-color: #f4f4f4; /* Warna latar belakang */
}

/* Style tombol submit */
.btn {
    width: 320px;
    height: 40px;
    margin-top: 2rem;
    background-color: black;
    color: white;
    cursor: pointer;
}

.ourpackage-header {
    background-color: #d3d3d3; /* Warna latar belakang abu-abu */
    width: 100%; /* Lebar penuh (full width) */
    height: 300px; /* Tinggi 400px */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.container {
    width: 100%;
    /* border: 5px solid #333; */
    margin: 30px auto;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.container div {
    width: 400px;
    height: 250px;
    background-color: white;
    margin: 2px;
}

.iconify {
    font-size: 50px;
    width: 50px;
    height: 50px;
    margin-top: 2rem;
    margin-left: 2rem;
    background-color: #eae6e6; /* Warna latar belakang */
    color: white; /* Warna ikon */
    border-radius: 50%; /* Membuat bentuk bulatan */
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 50px;
    align-items: center;
}

.satu p,
.dua p,
.tiga p,
.empat p,
.lima p,
.enam p {
    margin-left: 5.5rem;
}


.closing-argument h1 {
    text-align: center;
}

.closing-argument p {
    margin-top: 3rem;
    text-align: center;
    padding-left: 10rem;
    padding-right: 10rem;
}

.btn-call-action {
    display: flex;               /* Menggunakan Flexbox */
    justify-content: center;     /* Memusatkan tombol secara horizontal */
    align-items: center;         /* Memusatkan tombol secara vertikal */

    margin-top: 3rem;
    margin-bottom: 3rem;
}

.btn-action {
    padding: 10px 20px;          /* Menambahkan padding pada tombol */
    font-size: 16px;             /* Ukuran font tombol */
    background-color: black;   /* Warna latar belakang tombol */
    color: white;                /* Warna teks tombol */
    border: none;                /* Menghilangkan border tombol */
    border-radius: 3px;          /* Membuat sudut tombol membulat */
    cursor: pointer;            /* Mengubah kursor menjadi pointer */
}

.container-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.logo-akhir {
    width: 100px;
    height: auto;
}



/* Responsive pada tablet */
@media only screen and (max-width: 768px) {
    html {
        font-size: 80%;
    }

    .main-article {
        /* width: 100%; */
        /* border: 5px solid #333; */
        margin: 30px auto;
        padding: 5px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }


    .judul-manfaat .h1 {
        text-align: center;
        font-size: 80%;
        text-align: center;
    }

    .manfaat {
        font-size: 80%;
        padding-left: 110px;
        padding-right: 130px;
    }

    .closing-argument {
        font-size: 80%;
    }

    .closing-argument p {
        margin-top: 3rem;
        text-align: center;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .container-user {
        width: 50%;
        height: 170px;
    }
}
/* Responsive pada mobile*/
@media only screen and (max-width: 480px) {
    html {
        font-size: 100%;
      }

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar .navbar-nav a {
        font-size: 0.8rem;
    }

    .logo {
        margin-bottom: 16px;
    }

    /* Style padding top pada setiap halaman */
    #home, #ourpackage, #callus {
    padding-top: 120px;
    }

    .banner-autoslide {
        width: 70%;
        left: 2rem;
    }

   

    .main-article {
        width: 100%;
        /* border: 5px solid #333; */
        margin: 30px auto;
        padding: 5px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .manfaat {
        margin-left: 40px;
        margin-right: 40px;
    }
    
  
    
}
